@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Syncopate:wght@700&display=swap');
* {
    margin: 0;
    box-sizing: border-box; 
}
p, label {
    font-size: 1.6rem;
}
h2{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family:'Playfair Display', serif;
    
}
a {
    text-decoration: none;
    color: #4B2C34;
}
h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
header {
    background-color: #DDDDBB;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-kerning: normal;
}
.contenedor-empresa p{
    font-family:'Playfair Display', serif;
    font-size: 1.2rem;

}

/* EMPRESA Y LOGOTIPO*/


.boton{
    background-color: #DDDDBB;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2rem 0;
    border: none;
}

/*LOGIN*/


#login{font-size: 1rem;}

.botonFormulario {
    padding: 0.4rem auto;
    margin: 0.5rem 0.5rem 0.5rem 0; 
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
    background: whitesmoke;
    border-radius: 2rem;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: black;
}

.contenedor-login a {
    font-size: 1.2rem;
    text-decoration: none;
    color:#4B2C34;
}
.campo{ 
    margin: 0.2rem;
    cursor: pointer;
    padding: 0.2rem;
    background: whitesmoke;
    border-radius: 2rem;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}


::-webkit-input-placeholder{

    font-size: 1rem;

}
:-moz-placeholder{ /* Firefox 18- */

    font-size: 1rem;

}
::-moz-placeholder{ /* Firefox 19+ */

    font-size: 1rem;

}
:-ms-input-placeholder{

    font-size: 1rem;

}
.registrarse{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem
}
/*USUARIO*/
#foto_usuario{
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0px 0px 5px 0px #aaa;
    margin: 5px;
}

#usuario {
    font-weight: 400;
    padding: 0.2rem;
}

#usuario a {
    color: #4B2C34;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #779977;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    color: white;
    width: 33%;
    text-align: center;
    font-size: 1.8rem
}

nav a:hover {
    background-color: #4B2C34;
    color: white;
}

/* FOOTER */
footer { 
    padding: 60px 0 30px 0;
    background-color: #6b3f4b;
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.content-foo {
    color: white;
    width: 28%;
    padding-bottom: 40px;
    line-height: 35px;
    align-items: center;
}

.titulo-final {
    font-weight: 300px;

}


#hr {
    color: white;
    width: 20%;
    border: 2px solid;
    margin: auto;
}

.copy {
    padding-top: 10px;
    border-top: 1px solid white;
    font-weight: 300px;
    color: lightgrey;
    width: 100%;
}

/* REGISTRO */
.cuadro {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 15px auto;
    display: block;
}
label{
    margin-bottom: 4px;
}
#registro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: #DDDDBB;
    width: 40%;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px #aaa;
}

#formularioRegistro{
    width: 100%
}
.error{
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px auto;
    display: block;
    color: red;
    border: 1px solid red;
}

.imagen {
    text-align:center 
}

.imagen img{
    width: 30%
}
/* ELEMENTO */
.elemento{
    border-bottom: 1px solid gray;
    margin-bottom: 2rem;
    padding: 2rem;
}



.elemento:last-of-type{
    border: none;
    margin-bottom: 0;
}

i{
    font-size: 25px;
    cursor: pointer
}

i .fav, i .fas, i .far{
    line-height: none;
}

.comentario {
    border: 2px solid #DDDDBB;
    padding: 1rem;
    border-radius: 2rem;
}

.informacion{
    background-color: #DDDDBB;
    padding: 3rem;
    border-radius: 1rem;
}

